<div class="board-row"> <!-- #0 row -->
  <app-main-section-board-field class="field-outer-bottom-left-corner"></app-main-section-board-field>
  <app-main-section-board-field class="field-outer-bottom"></app-main-section-board-field>
  <app-main-section-board-field class="field-outer-bottom"></app-main-section-board-field>
  <app-main-section-board-field class="field-outer-bottom"></app-main-section-board-field>
  <app-main-section-board-field class="field-outer-bottom-right-corner"></app-main-section-board-field>
</div>
