# IntelliJ IDEA project files
.idea/

# Compiled output
target/

# Maven-specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Logs
log/

# Test output
test-output/

# Eclipse-specific files (if using Eclipse alongside IntelliJ)
.classpath
.project
.settings/

# Miscellaneous
*.iml
*.ipr
*.iws
out/
.DS_Store

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.c9/
*.launch
*.sublime-workspace

# Visual Studio Code
.vscode
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
Thumbs.db

# Additional folders
*/.mvn/
/.idea/
/dragondestiny-user/.mvn/
dragondestiny-ui/angular-app/.vscode/
/dragondestiny-played-game/.mvn/
/dragondestiny-gateway/.mvn/
/dragondestiny-engine/.mvn/
/dragondestiny-discovery/.mvn/
.angular
node_modules