<!-- DRAW CARD -->
<div *ngIf="notificationType == 1 && showDrawCardConditionBoolean">
  <app-notification-draw-card
  [notificationData]="notificationData"
  [(cardsDrawn)]="cardsDrawn"
  [dieData]="dieData"
  [showDrawCardConditionBoolean]="showDrawCardConditionBoolean"
  (actionFinished)="receiveCardActionFinished()"
  (rollFightCondition)="receiveRollFightEvent($event)"
  >
  </app-notification-draw-card>
</div>

<!-- FIGHT PLAYER -->
<div *ngIf="notificationType==2">
  <p>Fight Player</p>
</div>

<!-- FIGHT ENEMY [BRIDGE OR BOSS] -->
<div *ngIf="notificationType == 3 && showFightEnemyCardConditionBoolean">
  <app-notification-fight-enemy
  [notificationData]="notificationData"
  [dieData]="dieData"
  [finishCondition]="finishCondition"
  [showFightEnemyCardConditionBoolean]="showFightEnemyCardConditionBoolean"
  (finishConditionChange)="recieveFinishConditionChange($event)"
  (cardFightCondition)="receiveRollFightEvent($event)"
  >
  </app-notification-fight-enemy>

</div>

<!-- ROLL DIE WHEN NEEDED -->
<div *ngIf="rollCondition">
  <app-notification-die
  (outputCondition)="recieveDieData($event)"
  ></app-notification-die>
</div>

<!-- PROCEED TO (OPTIONAL) NEXT MOVE -->
<div *ngIf="!finishCondition && actionsDone > 0">
  <button (click)="continue()">Continue</button>
</div>

<!-- CLOSE NOTIFICATION WINDOW -->
<div *ngIf="finishCondition">
  <button (click)="close()">Close Notification</button>
</div>
