<!-- DRAW CARD -->
<div *ngIf="notificationType == 1 && showDrawCard">
  <app-notification-draw-card
  [notificationData]="notificationData"
  [gameContinueFlag]="gameContinueFlag"
  [(cardsDrawn)]="cardsDrawn"
  [dieData]="dieData"
  [showDrawCard]="showDrawCard"
  (actionFinished)="receiveCardActionFinished()"
  (rollFightCondition)="receiveRollFightEvent($event)"
  >
  </app-notification-draw-card>
</div>

<!-- FIGHT ENEMY [BRIDGE OR BOSS] -->
<div *ngIf="notificationType == 2 && showFightEnemyCard">
  <p>test xd</p>
  <app-notification-fight-enemy
  [notificationData]="notificationData"
  [gameContinueFlag]="gameContinueFlag"
  [dieData]="dieData"
  [finishCondition]="finishCondition"
  [showFightEnemyCard]="showFightEnemyCard"
  (finishConditionChange)="recieveFinishConditionChange($event)"
  (cardFightCondition)="receiveRollFightEvent($event)"
  >
  </app-notification-fight-enemy>
</div>

<!-- FIGHT PLAYER - ATTACKER POV -->
<div *ngIf="notificationType == 3 && showAttackingPlayerPOV">
  <app-notification-attack
  [notificationData]="notificationData"
  [gameContinueFlag]="gameContinueFlag"
  [dieData]="dieData"
  [finishCondition]="finishCondition"
  [showAttackingPlayerPOV]="showAttackingPlayerPOV"
  (finishConditionChange)="recieveFinishConditionChange($event)"
  (characterFightCondition)="receiveRollFightEvent($event)"
  ></app-notification-attack>
</div>

<!-- FIGHT PLAYER - DEFENDER POV -->
<div *ngIf="notificationType == 4 && showDefeningPlayerPOV">
  <app-notification-defend
  [notificationData]="notificationData"
  [gameContinueFlag]="gameContinueFlag"
  [dieData]="dieData"
  [finishCondition]="finishCondition"
  [showDefendingPlayerPOV]="showDefeningPlayerPOV"
  (finishConditionChange)="recieveFinishConditionChange($event)"
  (characterFightCondition)="receiveRollFightEvent($event)"
  ></app-notification-defend>
</div>

<!-- GAME UPDATE NOTIFICATION -->
<div *ngIf="notificationType == 6 && showUpdate">
  <app-notification-update
  [notificationData]="notificationData"
  [notificationData2]="notificationData2"
  (finishConditionChange)="recieveFinishConditionChange($event)"
  ></app-notification-update>
</div>

<!-- ROLL DIE WHEN NEEDED -->
<div *ngIf="rollCondition">
  <app-notification-die
  (outputCondition)="recieveDieData($event)"
  ></app-notification-die>
</div>

<!-- PROCEED TO (OPTIONAL) NEXT MOVE -->
<div *ngIf="!finishCondition && actionsDone > 0">
  <button (click)="continue()">Continue</button>
</div>

<!-- CLOSE NOTIFICATION WINDOW -->
<div *ngIf="finishCondition">
  <button (click)="close()">Close Notification</button>
</div>
