<div *ngIf="notificationType==1">
  <button *ngIf="notificationData > 0 && conditionBoolean" class="button" type="button" (click)="drawCard()">Draw Card</button>
  <div *ngIf="cardToDisplay">
    <p>{{ cardToDisplay.name }} </p>
    <p>{{ cardToDisplay.description }}</p>
    <p>Strenght: {{ cardAttributes[1] }}</p>
    <p>Health: {{ cardAttributes[0] }}</p>
  </div>
</div>

<div *ngIf="notificationType==2">
  <p>Fight Player</p>
</div>

<div *ngIf="notificationType==3">
  <p>Fight Enemy</p>
</div>

<div class="dice-container">
  <div class="dice">Die: {{rollValue}}</div>
  <button class="button" type="button" (click)="rollDie()">Roll</button>
</div>
<button (click)="close()">Close Notification</button>
