<!-- FIGHT PLAYER - DEFENDER POV -->
<div>
    <div *ngIf="characterDisplayCondition && playerToDisplay && characterToDisplay">
        <p>Attacked by {{ playerToDisplay.login }}:</p>
        <p>{{ characterToDisplay.name }}</p>
        <p>Strength: {{ characterAttributes[1] }}</p>
        <p>Health: {{ characterAttributes[0] }}</p>
        <br>
        <p>{{ playerToDisplay.login }}'s Dice: {{ enemyRoll }}</p>
    </div>

    <div *ngIf="fightResultCondition">
        <div *ngIf="winner">
            <p>You won the fight!</p>
            <br>
            <div *ngIf="cardStealFlag">
                <p>You may now steal a card from enemy player</p>
                <app-notification-card-steal *ngIf="!handFullFlag"></app-notification-card-steal>
            </div>
        </div>
        <div *ngIf="!winner">
            <p>You lost the fight! :c</p>
            <br>
            <div *ngIf="cardStealFlag">
                <p>Now enemy player may steal a card from you!</p>
                <br>
                <div *ngIf="cardStolen">
                    <p>Stolen Card:</p>
                    <br>
                    <p>{{ engineCardStolen.name }}</p>
                    <p>Strength: {{ cardStolen.strength }}</p>
                    <p>Health: {{ cardStolen.health }}</p>
                    <br>
                </div>
            </div>
        </div>
        <div *ngIf="allDoneFlag">
            <button class="button" type="button" (click)="finishAction()">Continue</button>
        </div>
    </div>
</div>
