<div class="control-buttons-container">
  <div *ngIf="TAKE_CARD_FLAG">
    <button 
    [disabled]="actionButtonClickFlag"
    (click)="takeCardClick()">Take A Card {{numberOfCardsToBeDrawn}}</button>
  </div>

  <div *ngIf="LOSE_ROUND_FLAG">
    <button
    [disabled]="actionButtonClickFlag" 
    (click)="loseTurnClick()">Confirm loss of {{numberOfTurnsToBeLost}} rounds</button>
  </div>

  <div *ngIf="FIGHT_WITH_PLAYER_FLAG">
    <button 
    *ngIf="playerToAttack && playerToAttackCharacter" 
    [disabled]="actionButtonClickFlag"
    (click)="attackPlayedClick(playerToAttack.login)">Attack {{playerToAttack.login}} ({{ playerToAttackCharacter.name }})</button>
  </div>

  <!-- <div *ngIf="FIGHT_WITH_ENEMY_ON_FIELD_FLAG">
    <div *ngFor="let enemy of enemiesToAttack; let i = index"> -->
      <!-- Attack normal -->
      <!-- <button *ngIf="enemiesToAttackFromEngine[i]" 
      [disabled]="actionButtonClickFlag"
      (click)="attackEnemyClick(enemy.id)"
      >Attack {{enemiesToAttackFromEngine[i].name}} | HP: {{enemy.health}} | S: {{enemy.initialStrength}}</button>
    </div>
  </div> -->

  <!-- ATTACK BRIDGE GUARDIAN -->
  <div *ngIf="BRIDGE_FIELD_FLAG && attackBridgeGuardianFlag">
      <button *ngIf="enemyToAttackFromEngine && enemyToAttack" 
      [disabled]="actionButtonClickFlag"
      (click)="attackBridgeGuardian(enemyToAttack.id)"
      >Attack Bridge Guardian {{enemyToAttackFromEngine.name}} | HP: {{enemyToAttack.health}} | S: {{enemyToAttack.initialStrength}}</button>
  </div>

  <!-- MOVE TO BRIDGE FIELD -->
  <div *ngIf="BRIDGE_FIELD_FLAG && !attackBridgeGuardianFlag">
    <button *ngIf="enemyToAttackFromEngine && enemyToAttack"
    [disabled]="actionButtonClickFlag"
    (click)="moveToBridge()"
    >Move to Bridge Field And<br>Attack Bridge Guardian {{enemyToAttackFromEngine.name}} | HP: {{enemyToAttack.health}} | S: {{enemyToAttack.initialStrength}} </button>
  </div>

  <!-- ATTACK BOSS -->
  <div *ngIf="BOSS_FIELD_FLAG && attackBossFlag">
    <button *ngIf="enemyToAttackFromEngine && enemyToAttack" 
    [disabled]="actionButtonClickFlag"
    (click)="attackBoss(enemyToAttack.id)"
    >Attack Boss {{enemyToAttackFromEngine.name}} | HP: {{enemyToAttack.health}} | S: {{enemyToAttack.initialStrength}}</button>
  </div>

  <!-- MOVE TO BOSS FIELD -->
  <div *ngIf="BOSS_FIELD_FLAG && !attackBossFlag">
    <button *ngIf="enemyToAttackFromEngine && enemyToAttack" 
    [disabled]="actionButtonClickFlag"
    (click)="moveToBoss()"
    >Move To Boss Field And Attack Boss {{enemyToAttackFromEngine.name}} | HP: {{enemyToAttack.health}} | S: {{enemyToAttack.initialStrength}}<br></button>
  </div>
</div>
