<div class="items-list">
    <div *ngFor="let j of cardOrder; let i = index" class="tile">
        <div class="item-name">{{engineCards[j].name}}</div>
        <!-- <div class="item-desc">{{cardDescList[i]}}</div> -->
        <div class="additional-strength">Strength: {{playedGameCards[i].strength}}</div>
        <div class="additional-health">Health: {{playedGameCards[i].health}}</div>
        <button class="button" type="button" (click)="steal(playedGameCards[i])">Steal</button>
    </div>
</div>