<div class="board"> <!-- For now i hardcode it as 5x5 board, like in example in database -->
  <app-main-section-board-row-top class="board-row"></app-main-section-board-row-top>
  <app-main-section-board-row class="board-row" [boardInfo]="boardInfo"></app-main-section-board-row>
  <app-main-section-board-row class="board-row"></app-main-section-board-row>
  <app-main-section-board-row class="board-row"></app-main-section-board-row>
  <app-main-section-board-row-bot class="board-row"></app-main-section-board-row-bot>
</div>
