.items-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: wheat;
  flex: 10;
}

.tile {
  font-size: 12px;
  width: 100px;
  height: 90%;
  align-items: center;
  justify-items: center;
}
