.main{
  font-size: 20px;
  background-color: lightcyan;
  border: 1px solid black;
  align-items: center;
}

.board{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-bottom: 10px;
}
