<div class="board-row"> <!-- #0 row -->
  <app-main-section-board-field class="field-outer-left" [boardInfo]="boardInfo"></app-main-section-board-field>
  <app-main-section-board-field-inner class="field-inner-left"></app-main-section-board-field-inner>
  <app-main-section-board-field-inner class="field-inner"></app-main-section-board-field-inner>
  <app-main-section-board-field-inner class="field-inner-right"></app-main-section-board-field-inner>
  <app-main-section-board-field class="field-outer-right"></app-main-section-board-field>
</div>
