<div class="board-row"> <!-- #0 row -->
  <app-main-section-board-field class="field-outer-top-left-corner"></app-main-section-board-field>
  <app-main-section-board-field class="field-outer-top"></app-main-section-board-field>
  <app-main-section-board-field class="field-outer-top"></app-main-section-board-field>
  <app-main-section-board-field class="field-outer-top"></app-main-section-board-field>
  <app-main-section-board-field class="field-outer-top-right-corner"></app-main-section-board-field>
</div>
