.character-list {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.story {
  width: 200px;
  height: 70%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.select-button {
  bottom: 0;
}

.character-select-confirmation {
  font-style: italic;
}

