.dice-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice{
  height: 69px;
  width: 69px;
  border: 1px solid red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button{
  width: 69px;
}
