<div class="righthand-sidebar"> <!-- character  + card deck -->
  <app-righthand-sidebar-game-control [gameId]="gameId" [playerLogin]="playerLogin"></app-righthand-sidebar-game-control>
  <app-righthand-sidebar-cards-deck class="card-deck-container" [gameId]="gameId" [playerLogin]="playerLogin"></app-righthand-sidebar-cards-deck>
  <app-righthand-sidebar-character-info class="played-character-info-container" [gameId]="gameId" [playerLogin]="playerLogin"></app-righthand-sidebar-character-info>
</div>
